.App {
  text-align: center;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: aliceblue;
  background-color: blueviolet;
}

button {
  color: blueviolet;
  background-color: white;
  text-align: center;
  font-size: 20px;
  padding: 10px 15px;
  margin: 10px;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
